In [18]:
import numpy as np
import pandas as pd

from numpy.random import randn

In [19]:
# index levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [4]:
inside

[1, 2, 3, 1, 2, 3]

In [20]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [7]:
zip(outside,inside)

In [8]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [9]:
list(zip(inside,outside))

[(1, 'G1'), (2, 'G1'), (3, 'G1'), (1, 'G2'), (2, 'G2'), (3, 'G2')]

In [10]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [21]:
# pd.MultiIndex to get multiIndex of several levels
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [22]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [23]:
df

             A         B
G1 1 -0.941258 -0.175354
   2  2.464124 -0.174763
   3  0.170614  0.145308
G2 1  1.386401 -1.517844
   2  1.338869  1.211831
   3  1.531683  0.207510

In [24]:
df.loc['G1']

          A         B
1 -0.941258 -0.175354
2  2.464124 -0.174763
3  0.170614  0.145308

In [26]:
df.loc['G1'].loc[1]

A   -0.941258
B   -0.175354
Name: 1, dtype: float64

In [27]:
df.loc['G1']['B']

1   -0.175354
2   -0.174763
3    0.145308
Name: B, dtype: float64

In [28]:
df

             A         B
G1 1 -0.941258 -0.175354
   2  2.464124 -0.174763
   3  0.170614  0.145308
G2 1  1.386401 -1.517844
   2  1.338869  1.211831
   3  1.531683  0.207510

In [29]:
df.index.names

FrozenList([None, None])

In [30]:
df.index.names = ['Groups', 'Num']

In [31]:
df

                   A         B
Groups Num
G1     1   -0.941258 -0.175354
       2    2.464124 -0.174763
       3    0.170614  0.145308
G2     1    1.386401 -1.517844
       2    1.338869  1.211831
       3    1.531683  0.207510

In [32]:
# To get 1.211831
df.loc['G2'].loc[2]['B']

1.2118308512119458

In [33]:
# CrossSection
df.xs('G1')

            A         B
Num
1   -0.941258 -0.175354
2    2.464124 -0.174763
3    0.170614  0.145308

In [34]:
df.loc['G1']

            A         B
Num
1   -0.941258 -0.175354
2    2.464124 -0.174763
3    0.170614  0.145308

In [40]:
df.xs(1,level='Num')     # returns first row of level Num from two groups

               A         B
Groups
G1     -0.941258 -0.175354
G2      1.386401 -1.517844